.comments {
  width: 600px;
  padding: 20px;
  background: #eee;
  margin: 50px auto;
}

.comment {
  padding-bottom: 20px;
}

.comment p {
  margin-left: 65px; 
}

.comment .image {
  float: left;
  margin-right: 20px;
}

.replies {
  padding-left: 100px;
}
